@page "/animals"
@inherits RawferAppComponent
@inject HttpClient Http

<h1>Animals</h1>
<a href="/addanimal" class="btn btn-primary btn-sm" role="button">Create New Animal</a>

@if (State.Animals != null)
{
    <hr />
    <button type="button" class="btn btn-secondary btn-sm" onclick=@LoadAnimals>Reload</button>
    <hr />
    <div class="container-fluid text-center">
        <div class="row mx-auto">
                @foreach (var a in State.Animals)
                {
                    <div class="col-sm-auto">
                        <AnimalCard animal=@a />
                    </div>
                }
        </div>

    </div>
}
else
{
    <p>Loading animals...</p>
}



@functions
{

protected override async Task OnInitAsync()
{
    await ActionCreators.LoadAnimals(Store.Dispatch, Http);
}

protected async Task LoadAnimals()
{
    await ActionCreators.LoadAnimals(Store.Dispatch, Http);
}
}