@page "/signin"
@inject HttpClient Http
@inject IUriHelper helper
@inherits RawferAppComponent

<div class="auth-page">
    <div class="container-flex text-center">
        <div class="row">
            <div class="col">
                <h1 class="text-xs-center">Sign in</h1>
                <p class="text-xs-center">
                    <a href="/signup">Need an account?</a>
                </p>
                <LoginClassic />
                <LoginExternal />
            </div>
        </div>
    </div>
</div>


@functions {

}