@page "/"

@inherits RawferAppComponent

@inject IUriHelper Helper;


@if (State.User != null)
{
    <div>Welcome @State.User.Username</div>
}


@functions{

    protected override void OnInit()
    {
        if (State.User == null)
        {
            Helper.NavigateTo("/signin");
        }
    }
}
